*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    min-height: 100vh;
    background-image: url(../../../Pictures/Background/BackgroundChanging2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ffff;
    box-shadow: 0 5px 10px rgb(27, 26, 26);
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    align-items: center;
    padding: 0px 7% ;
}
.logo{
    font-weight: 700;
    color: #333;
    font-size: 25px;
}
.navbar ul li {
    position: relative;
    float: left;

}
.navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
    text-transform: uppercase;

}
.navbar ul li:hover a{
    background-color: #333;
    color: #ffff;
}