*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;

}
/* start topper links  */
.link_topper_main{
    width: 100%; 
    height: 45px;
    line-height: 45px;
    position: fixed;
    z-index: 888;
 
}
.link_topper_head{
    max-width: 1250;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin: auto;
}
.link_items a{ 
    font-size: 14px;
    padding: 8px 5px;
    color: #fff;
}
.link_fb{
    background-color: #37589B;
}
.link_tw{
    background-color: #46D4FE;
}
.link_yu{
    background-color: #FF0000;
}
.contact p{
    opacity: 0.5;
}
/* end topper links  */
 
/* header section part  */
