* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */

}

/* start topper links  */
.link_topper_main {
    width: 100%;
    height: 45px;
    line-height: 45px;
    position: relative;
    /* z-index: 1; */

}

.link_topper_head {
    max-width: 1250px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin: auto;
}

.link_items a {
    font-size: 14px;
    padding: 8px 5px;
    color: #fff;
}

.link_fb {
    background-color: #37589B;
}

.link_tw {
    background-color: #46D4FE;
}

.link_yu {
    background-color: #FF0000;
}

.contact p {
    opacity: 0.5;
}

/* end topper links  */

/* header section part  */

nav{
    background-color: #37589B;
    width: 100%;
    height: 85px;
    /* line-height: 85px; */
}
nav .wrapper{
    max-width: 1250px;
    padding: 0 30px;
    margin: auto;
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
nav .wrapper .logo{
    display:flex;
    column-gap: 10px;
}
.logo img {
    width: 80px;
    max-height: 70px;
    padding: 10px 10px;  
}

.title h1{
    color: #cf2e2e;
    font-size: 40px;
    font-weight: 600;
    top: 50px;
}
.title span{
    font-style: italic;
    color: #ffffff;
}
.nav_links{
    display: inline-flex;
}
.nav_links li {
    list-style: none;
}
.nav_links li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 85px;
    padding: 8px 14px;
    border-radius: 5px;
    transition: all 0.3s ease;

}
.nav_links li a:hover{
    background-color:#37589B;
}

/* drop menu about us start  */

.nav_links .drop_menu{
    background: #e1e1e1;
    width: 220px;
    top: 85px;
    position: absolute;
    line-height: 50px;
    opacity: 0;
    visibility: hidden;
}
.drop_menu li a {
    width: 100%;
    max-height: 50px;
    display: block;
    font-weight: 400;
    font-size: 18px;
    padding: 0 0 0 0px;
    border-radius: 0;
    color: rgb(58, 50, 50);
    line-height: 50px;
  

}
.nav_links li:hover .drop_menu,
.nav_links li:hover .mega_menu{
    transition: all 0.3s ease;
    opacity: 1;
    visibility: visible;
    top: 85px;
    
}
/* About us desiend complete */

/* mega menu (Our group ) field style start  */

.mega_menu{
    width: 100%;
    position: absolute;
    left: 0;
    top: 85px;
 
    visibility: hidden; 
     opacity: 0;
}

.mega_menu .content{
    background: #e1e1e1;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    padding: 5px 8px;
}
.content .row{
    width: calc(25% - 30px);
    line-height: 5px;
}
.content .row header{
    color: rgb(58, 50, 50);
    font-size: 22px;
    font-weight: 600;
    padding: 20px 0;
}
.content .row .sub_header{
    color: rgb(58, 50, 50);
    font-size: 22px;
    font-weight: 600;
    padding: 20px 0;

}
.content .row .mega_links{
    /* margin-left: -20px; */
    border-left: 1px solid rgba(255, 255, 255, 0.09);
} 
.content .row:nth-child(1), 
.content .row:nth-child(2) {
    border-left: 0px;
}
.row .mega_links li{
    padding: 0 0px;
    font-size: 22px;
    /* font-weight: 200; */
}
.row .mega_links li a{
    width: 100%;
    max-height: 30px;
    padding: 0 0 0 0;
    color: rgb(121, 101, 101);
    font-size: 17px;
    line-height: 30px;
    display: block;
}
.row .mega_links li a:hover{
    color: rgb(58, 50, 50);
}

/* mega menu (Our group ) field style end  */

/* background animation image section start  */

.background_image{
    width: 1250px;
    top: 20px;
    left: 58px;
    position: relative;
    height: 90%;
    background-color: aquamarine;
    background-image: url(../Pictures/Background/BackgroundChanging2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: change 20s infinite ease-in-out;
}

/* Animation start  */
@keyframes change{
    0%{
        background-image: url(../Pictures/Background/BackgroundChanging11.jpg);
    }
    20%{
        background-image: url(../Pictures/Background/BackgroundChanging2.jpg);
    }
    40%{
        background-image: url(../Pictures/Background/BackgroundChanging1.jpg);
    }
    60%{
        background-image: url(../Pictures/Background/BackgroundChanging3.jpg);
    }
    80%{
        background-image: url(../Pictures/Background/BackgroundChanging2.jpg);
    }
    100%{
        background-image: url(../Pictures/Background/BackgroundChanging3.jpg);
    }
}

/* Animation end  */

/* Business card design  */
.Business{
    width: 1250px;
    top: 80px;
    position: relative;
    left: 70px;
}
.Business h1{
    font-size: 20px;
    padding: 30px 0;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
}
.business_card{
    width: 1200px;
    position: relative;
    /* left: 30px; */
    /* display: inline-block; */
}
.electrical{
    width: 300px;
    padding: 40px 45px;
    display: inline-block;
}
.electrical img{
    width: 100%;
    border-radius: 5px;
    transition: transform .5s;
    /* transition: transform .5s; */
    /* padding: 30px 0; */
}
img:hover{
    transform: scale(1.2);
}
.electrical h4{
    font-size: 16px;
    font-weight: 700;
    padding: 40px 0;
    color: #000000;
    text-transform: uppercase;

}
h4:hover{
    color: #fc5050;
}
.electrical p{
    font-size: 20px;
    padding: 30px 0;
    font-family: 'Times New Roman', Times, serif;
}
.electrical a {
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
   
   
    
}
a:hover {
    font-weight: 300;
    color: rgb(241, 241, 8);
    /* border: 5px solid whitesmoke; */
    box-shadow: 0 8px 8px -4px lightblue;
    /* box-shadow: 10px 20px #3f3737; */
    padding: 10px 10px;


}

/* product sector designed start */
.Business .Product_heading{
    font-size: 20px;
    padding: 30px 30px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
}
/* product sector designed start */

/* about sector style start  */

.about{
    width: 1250px;
    top: 80px;
    position: relative;
    left: 70px;
    background-color: #e1e1e1;;
}
.content_about{
    width: 1200px;
    position: relative;
    display: inline-flex;
    padding: 10px 20px;
}
.content_about img {
    width: 500px;
    top: 50px;
    left: 50px;
    position: relative;
    padding-right: 80px;
    display: block;
    /* cursor: zoom-out; */
    transition: all 0.5s ;
}
.about_image:hover img{
    transform: scale(1.1);

}
.content_about_items{
    width: 500px;
    padding: 50px 80px;
}
.content_about_items h1 {
    text-align: center;
    /* padding: 30px 0; */
    font-size: 20px;
    text-transform: uppercase;
    color: #00773d;
    font-weight: 700;
}
.content_about_items p{
    /* width: 410px; */
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 40px 0;
    text-align: justify;
}
.more_link{
    text-align: center;    
}

.content_about_items a{
    font-size: 20px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    padding: 11px 40px;
    text-decoration: none;
    background-color: #00773d;
    text-align: center;
    border-radius: 5px;
}

.more_link:hover a{
    color: #fcb900;
}

/* about sector style end */

/* start employee section  */

.employee{
    width: 1250px;
    top: 80px;
    left: 70px;
    position: relative;
    background-color: #9b51e0;
}
.employee h1{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px 40px;
    color:#ffffff
}

.employee .employee_content{
    width: 1250px;
    /* top: 5px; */
    /* left: 40px; */
    padding: 0 40px;
    margin: auto;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.employee_details{
    width: 400px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
   
}
.employee_details li, h2{
    display: inline-block;
}
.employee_details .fa-solid{
    font-size: 30px;
}